@charset "utf-8";

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 100;
    src: url(../fonts/YakuHanJP/YakuHanJP-Thin.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-Thin.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-Thin.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 200;
    src: url(../fonts/YakuHanJP/YakuHanJP-Light.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-Light.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-Light.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 300;
    src: url(../fonts/YakuHanJP/YakuHanJP-DemiLight.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-DemiLight.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-DemiLight.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/YakuHanJP/YakuHanJP-Regular.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-Regular.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-Regular.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/YakuHanJP/YakuHanJP-Medium.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-Medium.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-Medium.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/YakuHanJP/YakuHanJP-Bold.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-Bold.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-Bold.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

@font-face {
    font-display: swap;
    font-family: YakuHanJP;
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/YakuHanJP/YakuHanJP-Black.eot);
    src: url(../fonts/YakuHanJP/YakuHanJP-Black.woff2) format("woff2"), url(../fonts/YakuHanJP/YakuHanJP-Black.woff) format("woff");
    unicode-range: U+3001, U+3002, U+3008, U+3009, U+300a, U+300b, U+300c, U+300d, U+300e, U+300f, U+3010, U+3011, U+3014, U+3015, U+30fb, U+ff01, U+ff08, U+ff09, U+ff1a, U+ff1b, U+ff1f, U+ff3b, U+ff3d, U+ff5b, U+ff5d
}

/*!
 * ress.css • v4.0.0
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    tab-size: 4;
    word-break: normal
}

*,
:after,
:before {
    background-repeat: no-repeat;
    box-sizing: inherit
}

:after,
:before {
    text-decoration: inherit;
    vertical-align: inherit
}

* {
    margin: 0;
    padding: 0
}

hr {
    color: inherit;
    height: 0;
    overflow: visible
}

details,
main {
    display: block
}

summary {
    display: list-item
}

small {
    font-size: 80%
}

[hidden] {
    display: none
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

a:active,
a:hover {
    outline-width: 0
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace
}

pre {
    font-size: 1em
}

b,
strong {
    font-weight: bolder
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

table {
    border-color: inherit;
    text-indent: 0
}

input {
    border-radius: 0
}

[disabled] {
    cursor: default
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    resize: vertical
}

button,
input,
optgroup,
select,
textarea {
    font: inherit
}

optgroup {
    font-weight: 700
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

[role=button],
[type=button],
[type=reset],
[type=submit],
button {
    color: inherit;
    cursor: pointer
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

button,
input,
select,
textarea {
    background-color: transparent;
    border-style: none
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
    outline-width: 0
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    color: currentColor
}

legend {
    border: 0;
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    color: inherit;
    font: inherit
}

img {
    border-style: none
}

progress {
    vertical-align: baseline
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-disabled=true] {
    cursor: default
}

:root {
    --main-bg: #fff;
    --sub-bg: #fcf4e1;
    --main-color: #313131;
    --notice-color: #d7072e;
    --grad-start-color: #a1d25e;
    --grad-end-color: #e1d746;
    --img-noload-color: #fff;
    --hover-color: #a1d25e;
    --transition: .3s cubic-bezier(0.250, 0.460, 0.450, 0.940);
    --section-width: 1040
}

main {
    display: block
}

html {
    --fs: 1.06667vw;
    background: var(--main-bg);
    color: var(--main-color);
    font-size: var(--fs);
    line-height: 1
}

@media screen and (min-width:1575px) {
    html {
        --fs: 105%
    }
}

@media screen and (max-width:1500px) {
    html {
        --fs: 100%
    }
}

@media screen and (max-width:1280px) {
    html {
        --fs: 90%
    }
}

@media screen and (max-width:1024px) {
    html {
        --fs: 100%
    }
}

@media screen and (max-width:415px) {
    html {
        --fs: 90%
    }
}

@media screen and (max-width:320px) {
    html {
        --fs: 85%
    }
}

html {
    overflow-y: scroll
}

body {
    font-feature-settings: "palt";
    tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: YakuHanJP, Noto Sans JP, Hiragino Sans, Hiragino Kaku Gothic ProN, Meiryo, sans-serif;
    font-weight: 500;
    letter-spacing: .06em;
    text-align: center
}

:after,
:before,
a,
article,
aside,
body,
div,
dl,
footer,
header,
main,
nav,
p,
section,
ul {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

a {
    background-color: transparent;
    border: 0;
    color: var(--main-color);
    overflow: hidden;
    text-decoration: none
}

a:active,
a:hover {
    outline: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

img {
    border: 0;
    height: auto;
    line-height: 0px;
    vertical-align: bottom;
    width: 100%
}

svg {
    display: block
}

img[src$=".svg"],
svg {
    max-width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 400
}

ol,
ul {
    list-style-type: none
}

em,
strong {
    font-style: normal;
    font-weight: 700
}

a,
input[type=button],
input[type=submit] {
    -webkit-tap-highlight-color: rgba(255, 255, 255, .2)
}

::selection {
    background-color: rgba(51, 153, 255, .4)
}

@font-face {
    font-family: swiper-icons;
    font-style: normal;
    font-weight: 400;
    src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA")
}

:root {
    --swiper-theme-color: #007aff
}

:root {
    --swiper-navigation-size: 44px
}

@keyframes swiper-preloader-spin {
    to {
        transform: rotate(1turn)
    }
}

#l-wrapper {
    overflow: hidden
}

#l-wrapper.is-menuopen #l-footer,
#l-wrapper.is-menuopen #l-main {
    left: 0;
    position: fixed;
    width: 100%
}

.u-section {
    margin: 0 auto;
    max-width: calc(var(--section-width)*1em/16);
    text-align: left;
    width: 80%
}

@media screen and (max-width:750px) {
    .u-section {
        width: 86.66667%
    }
}

.u-blocktop {
    --pt: 148;
    padding-top: calc(var(--pt)*1em/16)
}

@media screen and (max-width:750px) {
    .u-blocktop {
        --pt: 148 *.8
    }
}

@media screen and (max-width:415px) {
    .u-blocktop {
        --pt: 148 *.7
    }
}

.u-blockbottom {
    --pb: 148;
    padding-bottom: calc(var(--pb)*1em/16)
}

@media screen and (max-width:750px) {
    .u-blockbottom {
        --pb: 148 *.8
    }
}

@media screen and (max-width:415px) {
    .u-blockbottom {
        --pb: 148 *.7
    }
}

.u-blockbottom.is-last {
    --pb: 180
}

@media screen and (max-width:750px) {
    .u-blockbottom.is-last {
        --pb: 180 *.8
    }
}

@media screen and (max-width:415px) {
    .u-blockbottom.is-last {
        --pb: 180 *.7
    }
}

.u-noto.is-b {
    font-weight: 700
}

.u-mont {
    font-family: Montserrat, sans-serif;
    font-weight: 600
}

.u-mont.is-b {
    font-weight: 700
}

.u-pop {
    font-family: Poppins, sans-serif;
    font-weight: 600
}

.u-man {
    font-family: Manrope, sans-serif;
    font-weight: 400
}

.u-targetline__txt {
    border-bottom: 1px solid var(--main-color)
}

.u-targetline.is-line .u-targetline__txt {
    border: 0
}

@media (any-hover:hover) {
    .u-target {
        transition: opacity var(--transition)
    }

    .u-target:hover {
        opacity: .6
    }

    .u-targetcolor {
        transition: color var(--transition)
    }

    .u-targetcolor:hover {
        color: var(--hover-color)
    }

    .u-targetline__txt {
        border: 0;
        position: relative
    }

    .u-targetline__txt:after {
        background-color: currentColor;
        bottom: 0;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        width: 100%
    }

    .u-targetline.is-line .u-targetline__txt:after {
        transform: scaleX(0)
    }

    .u-targetline:hover .u-targetline__txt:after {
        animation-duration: .6s;
        animation-name: lineanim;
        animation-timing-function: ease
    }

    .u-targetline.is-line .u-targetline__txt:after {
        transform-origin: top right;
        transition: transform var(--transition)
    }

    .u-targetline.is-line:hover .u-targetline__txt:after {
        animation: none;
        transform: scale(1);
        transform-origin: top left
    }

    @keyframes lineanim {
        0% {
            transform: scale(1);
            transform-origin: top right
        }

        50% {
            transform: scaleX(0);
            transform-origin: top right
        }

        51% {
            transform: scaleX(0);
            transform-origin: top left
        }

        to {
            transform: scale(1);
            transform-origin: top left
        }
    }
}

@keyframes linkhover {
    0% {
        fill: #000;
        opacity: 1
    }

    50% {
        fill: #000;
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    55% {
        fill: #fff;
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        fill: #fff;
        opacity: 1;
        transform: translateZ(0)
    }
}

@keyframes linkhoverout {
    0% {
        fill: #fff;
        opacity: 1;
        transform: translateZ(0)
    }

    50% {
        fill: #fff;
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    55% {
        fill: #000;
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        fill: #000;
        opacity: 1
    }
}

.u-animateblock {
    opacity: 0;
    visibility: hidden
}

::-webkit-input-placeholder {
    color: #acacac
}

:-ms-input-placeholder {
    color: #acacac
}

.cm-canvas {
    display: block;
    height: 100vh;
    left: 0;
    outline: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1
}

.p-top__mv {
    position: relative;
    z-index: 1
}

.p-top__mv:before {
    background: linear-gradient(0deg, #fff 0, var(--sub-bg) 30%, var(--sub-bg) 100%);
    content: "";
    display: block;
    height: 81.75em;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0
}

#l-wrapper {
    visibility: hidden;
    opacity: 0;
}

.p-top__mv {
    min-height: 300vh;
}

.spy__img {
    position: relative;
    display: block;
    width: 100%;
    z-index: 10;
}

.spy__img img {
    display: block;
    width: 100%;
}

canvas {
    outline: none;
}